#lesson
  header
    padding: 80px 0
    background-color: #474C58
    text-align: center

    .logo
      size: 70px 61px
      bg: 'course-logo.svg'
      inline-block()

    h1
      margin: 0
      color: white
      fs: 2.5em
      font-weight: 500

    p
      margin: 0
      padding: 0
      color: white
      opacity: .6

  h2
    color: blue

  p
    margin: 0
    padding: 15px 0
    line-height: 1.8em

    &.intro
      margin-top: 35px
      background: grey
      padding: 20px 30px
      font-weight: 500
      max-width: 700px
      margin: 30px auto 20px auto

  #content
    padding-bottom: 50px

    a
      link: green

    code
      padding: 1em
      border-radius: 5px

  footer
    text-align: center
    background-color: blue
    padding: 50px 0

    h3
      color: white
      fs: 1.7em
      normal()
      margin: .5em 0

    h4
      color: white
      opacity: .5
      fs: 1.3em
      normal()
      margin: 0

  .back
    text-align: center
    margin: 1em

    a
      link: blue
      fs: 1.5em
      font-weight: 600
      margin: 1.5em 0
